{% load static %}

<html>
	<head>
		<title>Photos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload-0 is-preload-1 is-preload-2">

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Walker</h1>
						<p>Look at my photos</p>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://instagram.com/depressive_world_ru" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Search -->
				<form action="search" method="GET" id="search-form">
					<input id="search" name="search" type="text" size="40" placeholder="Search...">
				</form>


				<!-- Thumbnail -->
					<section id="thumbnails">

						<div id="thumbnails-left">
						{% for photo in left_photos %}
							<article>
								<a class="thumbnail" href="{% static 'images/fulls' %}/{{photo.name}}.jpg" data-position="left center">
									<img src="{% static 'images/thumbs' %}/{{photo.name}}.jpg" alt="" />
								</a>
								<h2>{{photo.name}}</h2>
								<p>{{photo.date}}</p>
							</article>
						{% endfor %}
						</div>

						<div id="thumbnails-right">
						{% for photo in right_photos %}
							<article>
								<a class="thumbnail" href="{% static 'images/fulls' %}/{{photo.name}}.jpg" data-position="left center">
									<img src="{% static 'images/thumbs' %}/{{photo.name}}.jpg" alt="" />
								</a>
								<h2>{{photo.name}}</h2>
								<p>{{photo.date}}</p>
							</article>
						{% endfor %}
						</div>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %} "></script>
			<script src="{% static 'assets/js/browser.min.js' %} "></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %} "></script>
			<script src="{% static 'assets/js/main.js' %} "></script>

	</body>
</html>